<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆操作</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
<div id="app">
    <span>[[ message ]]</span>
    <button @click="login">登陆</button>
    <hr>
    [[ username ]]
    <hr>
    <button @click="login2">post登陆</button>

</div>

{#创建VUE实列#}

<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            message: 'hello',
            username: ''
        },
        methods: {
            login: function () {
                var url = 'http://127.0.0.1:8000/book/login/?username=itcast&password=1234'
                axios.get(url)
                    .then((response) => {
                        console.log(response.data.info.username);
                        this.username = response.data.info.username
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            },
            login2: function () {
                var url = 'http://127.0.0.1:8000/book/login/'
                axios.post(url, {'username': '如花', 'password': '123456'})
                    .then((response) => {
                        console.log(response.data.info.username)
                        this.username = response.data.info.username
                    }).catch(
                    (error) => {
                        console.log(error)
                    }
                )
            }
        }

    })


</script>

</body>
</html>